<app-whos-that-pokemon>
    <div middle-content>
        <div class="container-middle-content">  
            <div *ngIf="isLoading" class="pokeball-spinner"></div>
            <ng-container *ngIf="!isLoading && pokemon">
                <img [src]="pokemon.sprites.other['official-artwork'].front_default" class="pokemon-card-image">
                <div class="pokemon-card-image-mask" [style.mask-image]="'url(' + pokemon.sprites.other['official-artwork'].front_default + ')'"></div>
            </ng-container>
        </div>

    </div>    
    <div bottom-content class="container-bottom-content">
        <ng-container *ngIf="!isLoading && pokemon">
            <button class="pokemon-alternative-button">{{ pokemonRandomList[0].name }}</button>
            <button class="pokemon-alternative-button">{{ pokemonRandomList[1].name }}</button>
            <button class="pokemon-alternative-button">{{ pokemonRandomList[2].name }}</button>
            <button class="pokemon-alternative-button">{{ pokemonRandomList[3].name }}</button>
        </ng-container>
    </div>
</app-whos-that-pokemon>