<app-whos-that-pokemon>
    <div middle-content>
        <div class="container-middle-content">  
            <div *ngIf="isLoading" class="loading">
                Loading Pokémon...
            </div>
            <ng-container *ngIf="!isLoading && pokemon">
                <img [src]="pokemon.sprites.other['official-artwork'].front_default" class="pokemon-card-image">
                <div class="pokemon-card-image-mask" [style.mask-image]="'url(' + pokemon.sprites.other['official-artwork'].front_default + ')'"></div>
            </ng-container>
        </div>

    </div>    
    <div bottom-content class="container-bottom-content">

        <button class="pokemon-alternative-button">Absol</button>
        <button class="pokemon-alternative-button">Blastoise</button>
        <button class="pokemon-alternative-button">Cacturne</button>
        <button class="pokemon-alternative-button">Drawitokafodsafsi</button>

    </div>
</app-whos-that-pokemon>