/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700;900&display=swap');

:root {
  --primary-red: #EE1515;
  --primary-blue: #00AAFF;
  --primary-yellow: #FFCB05;

  --dark-background: #0D1117;
  --light-text: #F0F6FC;
  --subtle-glow-red: rgba(238, 21, 21, 0.15);
  --subtle-glow-blue: rgba(0, 170, 255, 0.15);

  --navbar-height: 4rem;
}


body {
  background-color: var(--dark-background);
  
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.02) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.02) 1px, transparent 1px),

    radial-gradient(circle at 90% 90%, var(--subtle-glow-blue) 0%, transparent 30%),

    radial-gradient(circle at 10% 10%, var(--subtle-glow-red) 0%, transparent 30%);
  
  background-attachment: fixed;
  background-size: 20px 20px, 20px 20px, cover, cover;
  
  color: var(--light-text);
  overflow: hidden;
  padding-top: var(--navbar-height);
}

@media (max-width: 600px) {
  body {
    overflow-y: auto;
    overflow-x: hidden;
  }
}